<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo</title>
    <!-- Icone -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="css/main.css" />
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <div id="app" class="container">
      <section class="new-todo">
        <input type="text" placeholder="Nuovo todo" v-model.trim="newTodo" />

        <button @click="addTodo">Aggiungi</button>
      </section>
      <section class="todos-container">
        <ul v-if="todos.length > 0">
          <li class="todo" v-for="(todo, index) in todos">
            <span
              class="text"
              :class="{completed: todo.completed}"
              @click="updateStatus(index)"
            >
              {{ todo.text }}</span
            >
            <i class="fas fa-times" @click="removeTodo(index)"></i>
          </li>
        </ul>
        <h2 v-else>Non ci sono Todo</h2>
      </section>
    </div>
    <!-- Javascript -->
    <script src="js/script.js"></script>
  </body>
</html>
